body {
    background-color: #002626;
}

p {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    word-wrap: break-word;
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

#mainHeader {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.siteBody {
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    padding-left: 2em;
}